{% extends "index.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block aboutactive %}class="active"{% endblock aboutactive %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="container">
    <h1 class="h1contact">About Us </h1>
    <img src="/media/myweb1/media/sharedspacelogo.png" height="200" width=200px class="image" >
    <p><b><i>Hello Readers !!
        welcome to SharedSpace.
        Our aim is to provide a platform to young ,talented beautiful minds that are full of creativity . 
        With this motive we are here giving you a platform to be a part of a great team SharedSpace .
        So stay connected and join us ASAP .
        </i></b>
        </p>
        <b>
            <p>
         Thank You Team SharedSpace .
    </p>
    </b>
</br>
    <p>
        If you have any query then kindly e-mail us at :
    <b><a href="mailto: blogggerspot26@gmail.com">blogggerspot26@gmail.com</a></b></p>
    <h1 class="h1contact">GO SOCIAL</h1>
    <a
    class="btn btn-primary btn-lg btn-floating "
    style="background-color: #ac2bac;"
    href="#!"
    role="button"
    ><i class="fa fa-instagram"></i
  ></a>

<style>
    p{
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .btn{
        margin-left:50%;
    }
    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
</style>

{% endblock body %}
