{% extends "index.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block header %}
{% endblock header %}
{% block body %}
       <container>
     <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'download.jpg' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="#" method ="POST">
{% csrf_token %}
      <input type="password" id="currentpassword" class="fadeIn second" name="currentpassword" placeholder="Current Password" required>
      <input type="password" id="newpassword" class="fadeIn second" name="newpassword" placeholder="New Password" required>
      <input type="password" id="confirmpassword" class="fadeIn third" name="confirmpassword" placeholder="Confirm newpassword" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
</container>    

{% endblock body %}
