{% extends "index.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block signupactive %}class="active"{% endblock signupactive %}
{% block body %}
       <container>
     <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'download.jpg' %}" id="icon" alt="User Icon" />
    </div>

<p> Password reset link have been sent to you please check your email</p>


    <!-- Remind Passowrd -->
  </div>
</div>
</container>    
{% endblock body %}
