{% extends "index.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block signupactive %}class="active"{% endblock signupactive %}
{% block body %}
       <container>
     <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'download.jpg' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form  id="form" method="POST">
{% csrf_token %}
{{form}}
      <input type="submit" class="fadeIn fourth" name="mail">
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>
<style>
    li{
        color:black !important;
            margin: 0px !important; 
     padding: 0px 0px !important; 
     font-size: 12px !important; 
     list-style:circle !important;
     display:list-item !important;
    }
</style>
</container>    
{% endblock body %}
